APP_KEY=your-secret-key-here
ENCRYPTION_FIELD_KEY=your-encryption-secret-key-here
DB_DIALECT=postgres
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=nocobase
DB_USER=nocobase
DB_PASSWORD=nocobase
POSTGRES_USER=nocobase
POSTGRES_DB=nocobase
POSTGRES_PASSWORD=nocobase
TZ=Asia/Ho_Chi_Minh

# Cloudflare Tunnel Token
TUNNEL_TOKEN=your-cloudflare-tunnel-token-here
